body{
	margin: 0;
	padding: 0;
	background:indigo;
	background-size: cover;
}

.line-mf{
	width: 100px;
	height: 5px;
	margin: 0 auto;
	background: orange;
	margin-bottom: 10px
}
.line-mfs{
	width: 100px;
	height: 5px;
	background: orange;
	margin-bottom: 10px
}

.navbar{
	background:#34267d;
	
}
.logo{
	margin-left: 14px;
	color: orange;

}

.navbar .btn{
	border-radius: 70px;
    box-shadow: 202 2px 5px 0 rgba(246,245,245,.16),0 2px 10px 0 rgba(246,245,245,.12);
}

.navbar .nav-link{
	
}

.navbar .nav-item{
	padding: 10px
}

.intro{
	background: #34267d;
	height: 100vh
}

.intro-text{
	justify-content: center;
	align-items: center;
	margin-top: 500px
}
.intro-text h1{
	font-size: 2rem;
}

.intro-text .stop{
	color: orange;
	font-size: 4rem
}

.arrow{
	margin-top: 300px
}

#grid-boxes{
	margin-top: 160px
}

.graphics-text{
	position: absolute;
	top: 0px;
	left: 300px
}

.graphics-text h3{
	text-align: center;
	font-size: 3rem
}
.graphics-text .art{
	color:#34267d 
}

.graphics-par{
	color: grey;
	top: 300px
}

.graphics-text p{
	font-size: 20px
}

#mission{
	margin-top: 100px;
	margin-bottom: 50px
}

#mission .cont{
	background: grey;
	padding: 60px;
	box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 13px 13px 13px -10px
}

#grids{
	margin-top: 40px
}
#grids .imgs:hover img{
	-webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#grids img{
	transition: 0.3s ease-in-out
}

.imgs{
	overflow: hidden;
}

#grids .card{
    top: 150px
}

.card-footer{
	border: none;
}

.card-body{
	position: relative;
}

.card .box{
	width: 70px;
	height: 70px;
	background: orange;
	color: white;
	border:none;
	position: absolute;
	left: 470px;
	bottom: -20px;
	
}

.box h3{
	text-align: center;
	padding-top: 25px
}

.time{
	margin-top: 380px
}
#angles{
	position: relative;

}

.blue{
	width: 200px;
	height: 200px;
	background-color: beige;
	position: absolute;
	top: 20px;
	left: 120px;
	transform: skewX(-70deg) scaleY(-30px);
	z-index: -99
}

.yellow{
	width: 200px;
	height: 200px;
	background-color: yellow:;
	position: absolute;
	top: 30px;
	left: 140px;
    transform: skewX(-70deg) ;
    z-index: -99
}

.black{
	width: 200px;
	height: 200px;
	background-color: indigo;
	position: absolute;
	top: 40px;
	left: 160px;
	transform: skewX(-70deg); 
	z-index: -99
}

#team{
	margin-top: 100px
}

#team .box{
	position: relative;
	overflow: hidden;
	border: 5px solid #fff;
	-webkit-box-shadow: 2px 0 10px rgba(0,0,0,.5)
	box-shadow: 2px 0 10px rgba(0,0,0,.5)
}

.text-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.text-box::before{
	content: "";
	top: 0;
	left: 0;
	height:100%;
	width: 100%;
	position: absolute;
	opacity: 0;
	-webkit-transform: translateX(-100%) scale(1) skew(-45deg);
	transform: translateX(-100%) scale(1) skew(-45deg);
	-webkit-transition: all .6s ease;
	transition: all .6s ease;

}

.text{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	padding: 0 20px;
}

.text h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 700;
	-webkit-transform: translateY(-100%) scale(0);
	transform: translateY(-100%) scale(0);
}

.text p{
	color: #fff;
	font-size: 14px;
	-webkit-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

.box:hover .text h2{
	-webkit-transform: translateY(0) scale(1);
	transform: translateY(0) scale(1);
}

.box:hover .text p{
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.box img{
	-webkit-transition: all .6s ease;
	transition: all .6s ease;
}

.box:hover img{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.box:hover .text-box::before{
	opacity: 1;
	background: rgba(0,0,0,.5);
	-webkit-transform: translateX(0) scale(1) skewX(-45deg);
	transform: translateX(0) scale(1) skewX(-45deg);
}

#gallery{
	margin-top: 100px
}

.carousel{
	height: 50vh
}

.carousel h1{
	padding-top: 250px
}

.links{
	left: 1000px;
	top: 0px;
	position: absolute;
	float: right;
}

.links i{
	background: white;
	border-radius: 50%;
	padding: 15px;

}


.box{
	 overflow: hidden;
   padding: 0 75px;
   max-width: 1350px;
}

.features {
   background-color: #151515;
   height: 564px;
   position: relative;
}

.features::before, .featured::after {
   content: "";
   display: block;
   height: 1px;
   width: 60px;
   background-color: rgba(255, 255, 255, 0.15);
   position: absolute;
   top: 50%;
}

.features::before {
   left: -75px;
}

.features::after {
   right: -75px;
}

.img1 img{
	width: 300px
}

.sup{
	padding-top: 200px
}

 @media (min-width: 800px) and (max-width: 850px) {
            .navbar:not(.top-nav-collapse) {
                background: #1C2331!important;
            }
        }}
}
}
}
