.header-content{
	font-size: 37rem;
	text-align: center;
	position: relative;
}

.header-content .to{
	font-size: 47rem;
	color: indigo;
	font-weight: bold;
	font-family: initial;
	position: relative;

}


.header-content .fro{
	font-size: 47rem;
	color: cyan;
	font-weight: bold;
	font-family: initial;
}	

.line-mf{
	height: 5px;
	width: 60px;
	margin: 0 auto;
	background: grey;
	margin-bottom: 80px
}

#circular{
	position: relative;
}

.circle{
	width: 400px;
	height: 400px;
	border-radius: 45%;
	background: indigo
}

.circles{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: purple
}

.circlel{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	background: orange
}

.circlec{
	width: 400px;
	height: 400px;
	border-radius: 35%;
	background: cyan
}

#circular h1{
	position: absolute;
	font-size: 3rem;
	font-family: inherit;
	top: -290px
}

.vibrant{
	background: cyan;
	height: 60vh;
	width: 30%
}

.vibrant h3{
	margin: auto 0;
	margin-top: 260px
}

.vibes{
	background: #004554
	background:linear-gradient(rgba(248, 249, 250, 0.94),rgba(248, 249, 250, 0.94)), url(../img/cars/4.jpg);
	background-size: cover;
	height: 60vh;
	width: 70%;
	position: relative;
}

.vibes img{
	padding-left: 400px;

}

#whitepaper{
	background: beige;
	height: 50vh
}

.boxer{
	width: 100%;
	background: linear-gradient(rgba(93, 124, 155, 0.94),rgba(93, 124, 155, 0.94)), url(../img/cars/2.jpg);
	background-size: cover;
	height: 43vh;
	
}

.line-mfs{
	height: 5px;
	width: 60px;
	margin-left: 50px;
	background: grey;
	margin-bottom: 10px
}

#layer p{
	padding-top: 150px
}

